
@{
    ViewBag.Title = "MODULO VUELOS - AEROPUERTO";
    Layout = "~/Views/Layouts/_LayoutAdministrador.cshtml";
}

<script src="~/Scripts/jquery-3.5.1.min.js"></script>
<script src="~/Funciones/Aeropuerto.js"></script>
<script src="~/Scripts/sweetalert2@10.js"></script>

<div class="box">
    <div class="box-body">
        <div class="card">
            <div class="card-header bg-light">
                <h2 class="h3 text-dark">Mantenimiento - Aeropuerto</h2>
                <button class="btn bg-primary float-right" data-toggle="modal" data-target="#modalAeropuerto" onclick="clearTextBox_AER()"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;Agregar aeropuerto</button>
            </div>


            <div class="card-body">
                <table class="table table-striped bg-pale-info text-dark" id="aeropuertoTabla">
                    <thead class="bg-dark text-white">
                        <tr>
                            <th>ID</th>
                            <th>Aeropuerto</th>
                            <th style="display:none;">ID PAIS</th>
                            <th>Pais</th>
                            <th style="display: none;">ID CIUDAD</th>
                            <th>Ciudad</th>
                            <th>Direccion</th>
                            <th>Accion</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <br />

            <!-- Modal mantenimiento estados de vuelos -->
            <div class="modal center-modal fade" id="modalAeropuerto" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title text-primary">Mantenimiento | Aeropuerto</h5>
                            <button type="button" class="close" data-dismiss="modal">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="row">
                                    <div class="col-12">
                                        <input type="hidden" class="form-control" id="AeropuertoID" placeholder="ID" disabled="disabled" />
                                        <div class="form-group">
                                            <label for="Aeropuerto" class="col-form-label">Aeropuerto: </label>
                                            <input type="text" class="form-control" id="Aeropuerto" placeholder="Nombre del aeropuerto" />
                                        </div>
                                        <div class="form-group">
                                            <label for="Pais" class="col-form-label">Pais: </label>
                                            @Html.DropDownList("Pais", null, "---Selecione el pais-----", new { @class = "form-control" })
                                        </div>
                                        <div class="form-group">
                                            <input type="hidden" name="id_ciudad" id="id_ciudad" readonly="readonly" disabled="disabled"/><br />
                                            <label for="cboCiudad" class="col-form-label">Ciudad: </label>
                                            <select class="form-control" id="cboCiudad" >
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="DireccAer" class="col-form-label">Direccion: </label>
                                            <textarea id="DireccAer" rows="4" placeholder="Direccion del aeropuerto" class="form-control"></textarea>
                                        </div>
                                    </div>

                                </div>
                            </form>
                        </div>
                        <div class="modal-footer modal-footer-uniform">
                            <button type="button" class="btn btn-primary" id="btnAdd_AER" onclick="return Add_Aeropuerto();">Agregar</button>
                            <button type="button" class="btn bg-info" id="btnUpdate_AER" onclick="Update_Aeropuerto();">Actualizar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


