
@{
    ViewBag.Title = "Mis_Reservas";
    Layout = "~/Views/Layouts/_LayoutUsuarios.cshtml";
}

<script src="~/Scripts/jquery-3.5.1.min.js"></script>
<script src="~/Scripts/sweetalert2@10.js"></script>
<script src="~/Funciones/Mis_Reservas.js"></script>
<div class="box">
    <div class="box-body">
        <div class="card">
            <div class="card-header bg-light">
                <h2 class="h5 text-dark">Busqueda de vuelos personalizada:</h2>
            </div>
            
            <div class="card-body">
                <table class="table table-striped bg-pale-info text-dark" id="vuelos_RTabla">
                    <thead class="bg-dark text-white">
                        <tr>
                            <th>ID</th>
                            <th>Codigo</th>
                            <th>Fecha vuelo</th>
                            <th>Hora Salida</th>
                            <th>Aeropuerto Salida</th>
                            <th>Fecha Reserva</th>
                            <th>Precio</th>
                            <th>Estado</th>
                            <th>Accion</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>            
            <br />
        </div>
    </div>
</div>

